.loginContainer {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/src/assets/images/background/new_back4.0-transformed.png') no-repeat center center;
    background-size: cover;

}

.loginForm {
    width: 100%;
    max-width: 400px;
    background: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 10px;
    color: #fff;
}

.loginForm h2 {
    margin-bottom: 30px;
    color:rgb(253, 239, 192);
    font-weight: bold;
    text-align: center;
}

.loginForm .form-control {
    background-color: #333;
    color: #fff;
    border: none;
    margin-bottom: 20px;
}

.loginForm .btn {
    background-color: #e74c3c;
    border: none;
    font-size: 18px;
    padding: 10px;
}

.loginForm .btn:hover {
    background-color: #c0392b;
}

.loginForm a {
    color: rgb(84, 154, 159);
}

.loginForm a:hover {
    color: #fff;
}

.text-danger {
    color: #e74c3c !important;
}