/* Main bounce animation */
@keyframes logoBounce {
    0%,
    100% {
        transform: scale(1.1) translateY(0);
    }
    50% {
        transform: scale(1.15) translateY(-5px);
    }
}

/* Hover animation for a pulsing effect */
@keyframes logoPulse {
    0%,
    100% {
        transform: scale(1.1) translateY(0);
    }
    50% {
        transform: scale(1.2) translateY(-2px);
    }
}

.navbar {
    width: 100%;
    background-color: rgba(159, 126, 103, 0.8);
    z-index: 1;
    padding: 10px 20px;
}

.navbar-brand {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbarLogo {
    width: 250px;
    height: auto;
    transform: scale(1.1);
    z-index: 3;
    animation: logoBounce 5s ease-in-out infinite; /* Default animation */
    transition: transform 5s ease; /* Smooth transition on hover */
}

/* Hover effect */
.navbarLogo:hover {
    animation: logoPulse 1s ease-in-out; /* Quick pulse effect on hover */
}

.navLink {
    color: rgb(253, 239, 192) !important;
    font-size: 1.4em!important;
    padding:15px!important;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 5%;
}

.navLink:hover {
    color: #ffffff !important;
    background:rgba(59, 17, 15,0.8);
    transform: scale(1.05);
}

@media (max-width: 991px) {
    /* Adjust navLink styling for smaller screens if necessary */
    .navLink {
        text-align: center;
        padding: 10px;
    }
}